@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

body{
    font-family: 'Lato';
}
.circle {
    position: relative;
    width: 240px;
    height: 240px;
    background: linear-gradient(to left top,#dd5eb7 25%,#fff);
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    border:1px solid #777777;
    animation: color-change 1s, circle-color 10s linear forwards;
}

.circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -120px;
    width: 240px;
    height: 240px;
    background: linear-gradient(to right top,#dd5eb7 75%,#fff);
    transform-origin: left -120px;
    z-index: 2;
    animation: color-change 1s, rotate-circle-left 10s linear forwards;
}

.circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 120px;
    width: 120px;
    height: 120px;
    background: #d425a0;
    transform-origin: left 120px;
    z-index: 3;
    animation: color-change 1s,rotate-circle-after 10s linear forwards;
}


.circle .circle-inner {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 180px;
    height: 114px;
    padding-top: 70px;
    background: radial-gradient(#f8eef5 15%, #d425a0);
    border-radius: 50%;
    border:1px solid #777;
    z-index: 10;
}
.circle-1 {
    content: "";
    /*display: block;*/
    position: absolute;
    top: 60px;
    left: -60px;
    width: 120px;
    height: 120px;
    background: #d425a0;
    transform-origin: center 0px;
    animation: color-change 1s, rotate-circle-1 10s linear forwards;
}

.circle-2 {
    content: "";
    /*display: block;*/
    position: absolute;
    top: 180px;
    left: -60px;
    width: 120px;
    height: 120px;
    background: #d425a0;
    transform-origin: center 0px;
    animation: color-change 1s, rotate-circle-2 10s linear forwards;
    z-index: 9;
}

.circle-3 {
    content: "";
    /*display: block;*/
    position: absolute;
    top: 0px;
    left: 120px;
    width: 120px;
    height: 120px;
    background: #d425a0;
    transform-origin: left bottom 0px;
    animation: color-change 1s,rotate-circle-3 10s linear forwards;
    z-index: 9;
}

.circle-4 {
    content: "";
    /*display: block;*/
    position: absolute;
    top: 120px;
    left: 240px;
    width: 120px;
    height: 120px;
    background: #d425a0;
    transform-origin: left bottom 0px;
    animation: color-change 1s,rotate-circle-4 10s linear forwards;
    z-index: 9;
}

.all{
    background: radial-gradient(circle at top 60px left 60px, #d425a0 40%,#000);
    padding: 10px;
    z-index: 2;
    animation: color-change 1s linear forwards;
    height: 260px;
    width: 260px;
}
.title{
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 1000;
    font-size: 36px;
    font-weight: 700;
    animation: color-change 1s;
}
.sub_title{
    position: absolute;
    top:140px;
    left:90px;
    z-index: 1000;
    font-size: 12px;
    text-align: center;
    animation: color-change 1s;
    
}

img{
    height: 180px;
    width: 140px;
    position: absolute;
    left: 14px;
    top: 0px;
    z-index: 6;
}


@keyframes rotate-circle-after {
    0%   {
        transform: rotate(-180deg);
        background: #d425a0;
        opacity: 1;
    }
    
    50%{
        transform: rotate(-90deg);
        background: #d425a0;
    }
    100% {
        transform: rotate(0deg);
        background: #d425a0;
    }
}

@keyframes rotate-circle-1 {
    
    0%  {
        transform: rotate(-270deg);
        background: #d425a0;
        /*opacity: 0;*/
    }
    50%  {
        transform: rotate(-180deg);
        background: #d425a0;
        /*opacity: 0;*/
    }
    50.01%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 1;
    }
    100% {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 1;
    }
}

@keyframes rotate-circle-2 {
    
    0%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 0;
    }
    50%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 0;
    }
    50.01%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 0;
    }
    100% {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 0;
    }
}



@keyframes rotate-circle-3 {
    
    0%  {
        transform: rotate(0deg);
        background: #d425a0;
        /*opacity: 0;*/
    }
    50%  {
        transform: rotate(90deg);
        background: #d425a0;
        /*opacity: 0;*/
    }
    100% {
        transform: rotate(180deg);
        background: #d425a0;
        opacity: 1;
    }
}

@keyframes rotate-circle-4 {
    
    0%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 0;
    }
    50%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 0;
    }
    50.01%  {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 1;
    }
    100% {
        transform: rotate(-90deg);
        background: #d425a0;
        opacity: 1;
    }
}


@keyframes rotate-circle-left {
    0%   { transform: rotate(90deg); }
    50%  { transform: rotate(90deg); }
    100% { 
        transform: rotate(90deg); 
        /*background: #f00;*/
    }
}

@keyframes color-change{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes circle-color{
    80%{
        background: linear-gradient(to left top,#dd5eb7 25%,#fff);
        opacity: 1;
    }
    80.01%,90%,100%{
        background: #ff606e;
    }
    85%,95%{
        background: linear-gradient(to left top,#dd5eb7 25%,#fff);
    }
}